//------------------------------------------------
// ▢ {{.FName}}
//------------------------------------------------

type {{.FName}}_Args struct { {{range .Args}}
    {{.GetCapPname}} {{.Ptype}}{{end}}
}